body {
    color: #333;
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
footer {
    text-align: center;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0;
}
.container{
    margin-top: 20px;
}
.center{
    display: flex;
    justify-content: center;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
a:focus, button:focus, input:focus {
    outline: 2px solid #0056b3;
    outline-offset: 2px;
    border-radius: 5px;
}
.gallery-custom{
    max-width: 800px;
}

.high-contrast {
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
}

.high-contrast a {
    color: #99ccff;
}

.high-contrast header, .high-contrast footer {
    background-color: #262626;
}

.high-contrast button {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.high-contrast img {
    filter: grayscale(100%) contrast(150%);
}
.high-contrast .card-body {
    color: #000 !important;
    background-color: #ffffff;
}
#image-gallery .card {
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
}

#image-gallery .card:hover {
    transform: scale(1.05);
}

#image-gallery .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}